

body{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_box{
    display:flex;
    justify-content: center;
    width:40%;
    
    
 
    /* margin: auto; */
    height:80%;
    /* border-radius: 25px; */
    background-color: white;
    min-width: 450px;
    max-height: 900px;
}

.register_box{
    margin-top: 20px;
    
}

.input{
    margin:30px;
    font-size: 140%;
    font-family: Poppins;
}

input[type=text], input[type=password]{
    width: 400px;
    height:40px;
    /* border-radius: 20px; */
}

input[type=submit]{
    width:120px;
    height:40px;
    border-radius: 20px;
    border: none;
    background-color: #008100;
    color:white;
    font-size:150%;
}

h1{
    /* margin-top: 30px; */
    font-family: Poppins;
    margin-bottom:70px;
}

.slika1{
    display:flex;
    justify-content: center;
    width:40%;
    margin-left:0px;
    /* margin: auto; */
    height:80%;
    /* border-radius: 25px; */
    background-color: white;
    min-width: 450px;
    max-height: 900px;
}



