p {
    margin: 0;
    font-family: Poppins, Arial;
  }
  body {
    display: flex;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    margin: 0;
    padding-top: 120px;
    background-color: rgb(240, 240, 240);
  }
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }