p {
    margin: 0;
    font-family: Poppins, Arial;
  }
  body {
    display: flex;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    margin: 0;
    padding-top: 120px;
    background-color: rgb(240, 240, 240);
  }

  .post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }

  .name_wrap{
    margin-left: 35%;
  }

  .post_name{
    font-family: Arial, Helvetica, sans-serif;
    font-size:150%;
    font-weight: 500;
  }

  .post_likes{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
  }
  
  hr{
    height:2px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: #989898;
    border: none;
    margin-left:30%;
  }



