.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: auto;
  padding-left: 65px;
  padding-right: 65px;
  height: 150px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3ec75d;
}
.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 10px;
}
.social-media-icon-image {
  height: 40px;
  margin-right: 8px;
  margin-left: 8px;
}
.social-media-text {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}
.copyright-protection-text {
  color: white;
  font-size: 18px;
}
.about-us,
.related-sites {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-size: 16px;
}
.about-us {
  width: 500px;
  font-size: 18px;
}
